<div class="panel panel-default login-panel">
    <div class="panel-body">
      {{#bs-form model=this action=(action "authenticate")}}
          <div class="inner-addon left-addon">
              <i class="icon icon-user"></i>
            {{bs-form-element controlType="text" label="Username" property="identification" invisibleLabel=true
                              placeholder="username"}}
          </div>
          <div class="inner-addon left-addon">
              <i class="icon icon-lock"></i>
            {{bs-form-element controlType="password" label="Password" property="password" invisibleLabel=true
                              placeholder="password"}}
          </div>
        {{bs-button defaultText="Log in" type="primary" buttonType="submit" class="btn-block"}}
      {{/bs-form}}
    </div>
</div>
