<div class="panel panel-default">
    <div class="panel-body err-404">
      <div class="text-centered text-404">404</div>
        <div class="text-centered">
            <div class="quote-container inline-block">
                <h3 class="inline-block serifd">&ldquo;Not all those who wander are lost.&rdquo;</h3>
                <div class="text-right serifd w100p">&mdash; J.R.R. Tolkien</div>
                <div class="w100p text-left">&gt; {{#link-to "posts"}}Go back.{{/link-to}}</div>
                <div class="w100p text-left">&gt; <a href="https://en.wikipedia.org/wiki/Special:Random" target="_blank">Wander some more.</a></div>
            </div>
        </div>
    </div>
</div>
{{outlet}}
